<section id="list">
<div class="categories1">
<div class="small-container">
<h2 class="title">Houses in Toronto</h2>
<div class="row">

    <div class="col-6">
        <img src="../public/images/5.jpg" alt="">
         
           <h4>Cozy place in heart of leslieville
           <div class="host">Superhost</div></h4>        
           <div class="type"> <b>Private Room</b></div><div class="rating">Rate: 4.89
          <i class="fas fa-star"></i> 
      </div>
      
      <h5 class="price">Price: <b>21$</b>/night</h5>
    </div>
    <div class="col-6">
        <img src="../public/images/6.jpg" alt="">
        <h4>Diva-Comfortable master room
         
           <div class="host">Superhost</div></h4>  
           <div class="type"> <b>Private Room</b></div>        
           <div class="rating">Rate: 4.9 
          <i class="fas fa-star"></i>
      </div>
      
      <h5 class="price">Price: <b>75$</b>/night</h5>
    </div>
    <div class="col-6">
        <img src="../public/images/2.jpg" alt="">
        <h4>Brand new renovated room close to heart of Toronto 
          
           <div class="host">Superhost</div></h4>
           <div class="type"> <b>Private Room</b></div>
        <div class="rating">Rate: 4.68
          <i class="fas fa-star"></i>
      </div>
      
      <h5 class="price">Price:  <b>60$</b>/night</h5>
    </div>
    <div class="col-6">
        <img src="../public/images/8.jpg" alt="">
        <h4>A place near to CENTENNIAL COLLEGE

          
           <div class="host">Superhost</div></h4>
           <div class="type"> <b>Private Room</b></div>
        <div class="rating">Rate: 4.73
            <i class="fas fa-star"></i>
        </div>
       
        <h5 class="price">Price:  <b>80$</b>/night</h5>
    </div>
    <div class="col-6"><a href="/9"></a>
        <img src="../public/images/9.jpg" alt="" >
        
          <h4>Casa Kapra - Modern Peaceful Private Room
            
             <div class="host">Superhost</div></h4>
             <div class="type"> <b>Private Room</b></div>
        <div class="rating">Rate: 5.0
          <i class="fas fa-star"></i>
      </div>
      
      <h5 class="price">Price:  <b>50$</b>/night</h5>
    </div>
    <div class="col-6">
      <img src="../public/images/4.jpg" alt="">
      <h4>Cutest House Around!!! 
        
         <div class="host">Superhost</div></h4> 
         <div class="type"> <b>Entire House</b></div>
      <div class="rating">Rate: 4.91
        <i class="fas fa-star"></i>
    </div>
        <h5 class="price">Price:<b>89$</b>/night</h5>
      </div>

</div>
</div>
</div>

</section>