<div class="popup">
<div id="login_table" class="login_table">
  <div class="login_form">
    <form method="POST" action="#">
          <span class="login_close">&times;</span>
          <h1>Log In</h1>
         
          <label>Email:</label>
            <br>
              <input class="login_input" id="email" type="email" name="emaillog" placeholder="Email" required>
              <br>
              <label>Password:</label>
              
              <input class="login_input" id="psw" type="password" name="pswlog" placeholder="Password" required>
              
          <div class="login_button">
              <button>Login</button>
          </div>
      </form>
  </div>
</div>