<section id="promotion">
<div class="promotion_section">
  <h2 class="title">About Us</h2>
  <div class="slideshow-container">
    
    <div class="mySlides">
      <video muted controls poster="../public/images/Introducing Airbnb Adventures - Airbnb Adventures.jpg">
        <source src="../public/images/Introducing Airbnb Adventures - Airbnb Adventures - Airbnb.mp4" >
      </video> 
    </div>
  
    <div class="mySlides">
      <video muted controls poster="../public/images/Introducing Airbnb Plus.jpg" >
     <source src="../public/images/Introducing Airbnb Plus - Airbnb.mp4" >
      </video>
    </div>
  
    <div class="mySlides">
      <video muted controls poster="../public/images/What is Airbnb- - Travel Tips - Airbnb.jpg">
        <source src="../public/images/What is Airbnb- - Travel Tips - Airbnb.mp4">
      </video>
    </div> 
  
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
  
  <div class="pagenum_show">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div> 
  </div>
  </div>  
  </section>