  <header>
    <div class="container">
      <nav class="navbar">
        <div class="navbar_container">
           <a href="" id="navbar_logo"><i class="fa fa-heartbeat" aria-hidden="true"></i>Airbnb</a> 
           <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
           </div>
           <ul class="navbar_menu" >
               <li class="navbar_item">
                   <a href="/dashboard" class="navbar_links" >Home</a>
               </li>
              
                <li class="navbar_item">
                    <a href="/"  class="navbar_links">Log out</a>
                </li>
                <li class="navbar_item">
                    <a href="#" class="navbar_links">User Infor</a>
                </li>
                <li class="navbar_btn" >
                      <a href="/" href="#search_form" class="search_btn"><i class="fa fa-search" aria-hidden="true"></i>Search</a>
                </li>
           </ul>
        </div>
    </nav>
</header>
  <div class="intro">
    
        <div class="row">
            <div class="col-2">
              <h2 id="dashboard">Welcome to PTH's Airbnb</h2>
              <h2 id="dashboard">Thank for sign up our website</h2>
              <h2 id="dashboard">We hope that you have good experience with us</h2>
              <p id="dashboard">Let go and see now!!!</p>
              <a id="dashboard" href="#promotion" class="btn">Discover Now &#8594</a>
            </div>
            <div class="col-2">
                <img src="../public/images/animation-house-drawing-image-child-png-favpng-mRx6PXeYFCQnQxUDsQ1tXAna1.png" alt="">
            </div>
        </div>
    </div>
  </div>