<!---->
            <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PTH Airbnb</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../public/css/style.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    </head>
    <body>
<!--header-->
{{> header}}
<!--Become A Host part--> 
{{> host}}
<!--Products-->
{{> product}}
<!--Promotion Section-->
{{> promotion}}
<!--List-->
{{> list}}
<!--Testimonial-->
{{> testimonial}}
<!--Popup login-->
{{> login}}
<!--Popup signup-->
{{> signup}}
<!--Banner Ads-->
{{> advertise}}

<!--Footer-->
{{> footer}}


  <script src="../public/js/index.js"></script>
</body>
</html>
