<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PTH Airbnb</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../public/css/style.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    </head>
    <body>
<header>
    <div class="container">
      <nav class="navbar">
        <div class="navbar_container">
           <a href="" id="navbar_logo"><i class="fa fa-heartbeat" aria-hidden="true"></i>Airbnb</a> 
           <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
           </div>
           <ul class="navbar_menu" >
               <li class="navbar_item">
                   <a href="/dashboard" class="navbar_links" >Home</a>
               </li>
              
                <li class="navbar_item">
                    <a href="/"  class="navbar_links">Log out</a>
                </li>
                <li class="navbar_item">
                    <a href="#" class="navbar_links">User Infor</a>
                </li>
                <li class="navbar_btn" >
                      <a href="/" href="#search_form" class="search_btn"><i class="fa fa-search" aria-hidden="true"></i>Search</a>
                </li>
           </ul>
        </div>
    </nav>
</header>
        <div class="intro">
    
        <div class="row">
            <div class="col-2">
              <h2 id="dashboard">Welcome to PTH's Airbnb</h2>
              <h2 id="dashboard">Thank for sign up our website</h2>
              <h2 id="dashboard">We hope that you have good experience with us</h2>
              <p id="dashboard">Let go and see now!!!</p>
              <a id="dashboard" href="#promotion" class="btn">Discover Now &#8594</a>
            </div>
            <div class="col-2">
                <img src="../public/images/animation-house-drawing-image-child-png-favpng-mRx6PXeYFCQnQxUDsQ1tXAna1.png" alt="">
            </div>
        </div>
    </div>
  </div>
    <!--Products-->
<section id="product">
<div class="categories">
    <h2 class="title">Vacation rentals for every style</h2>  
    <div class="small-container"> 
     
    <div class="col-6"> 
        <img src="../public/images/img1.jpg" alt="">
        <div class="content">
        <h4>Homes</h4>
        <p class="content">Comfortable with all essentials</p>
      </div>
    </div>
    <div class="col-6">
        <img src="../public/images/hotel.jpg" alt="">
        <div class="content">
        <h4>Hotels</h4>
          <p class="content">Stylish accomodation and amenities</p>
        </div>
    </div>
    <div class="col-6">
        <img src="../public/images/uniquestay.jpg" alt="">
        <div class="content">
        <h4>Unique Stay</h4>
          <p>Spaces that are more than just to sleep</p>
        </div>
    </div>
    </div>
    </section> 
<!--Promotion Section-->
<section id="promotion">
<div class="promotion_section">
  <h2 class="title">About Us</h2>
  <div class="slideshow-container">
    
    <div class="mySlides">
      <video muted controls poster="../public/images/Introducing Airbnb Adventures - Airbnb Adventures.jpg">
        <source src="../public/images/Introducing Airbnb Adventures - Airbnb Adventures - Airbnb.mp4" >
      </video> 
    </div>
  
    <div class="mySlides">
      <video muted controls poster="../public/images/Introducing Airbnb Plus.jpg" >
     <source src="../public/images/Introducing Airbnb Plus - Airbnb.mp4" >
      </video>
    </div>
  
    <div class="mySlides">
      <video muted controls poster="../public/images/What is Airbnb- - Travel Tips - Airbnb.jpg">
        <source src="../public/images/What is Airbnb- - Travel Tips - Airbnb.mp4">
      </video>
    </div> 
  
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
  
  <div class="pagenum_show">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div> 
  </div>
  </div>  
  </section>
<!--List-->
<section id="list">
<div class="categories1">
<div class="small-container">
<h2 class="title">Houses in Toronto</h2>
<div class="row">

    <div class="col-6">
        <img src="../public/images/5.jpg" alt="">
         
           <h4>Cozy place in heart of leslieville
           <div class="host">Superhost</div></h4>        
           <div class="type"> <b>Private Room</b></div><div class="rating">Rate: 4.89
          <i class="fas fa-star"></i> 
      </div>
      
      <h5 class="price">Price: <b>21$</b>/night</h5>
    </div>
    <div class="col-6">
        <img src="../public/images/6.jpg" alt="">
        <h4>Diva-Comfortable master room
         
           <div class="host">Superhost</div></h4>  
           <div class="type"> <b>Private Room</b></div>        
           <div class="rating">Rate: 4.9 
          <i class="fas fa-star"></i>
      </div>
      
      <h5 class="price">Price: <b>75$</b>/night</h5>
    </div>
    <div class="col-6">
        <img src="../public/images/2.jpg" alt="">
        <h4>Brand new renovated room close to heart of Toronto 
          
           <div class="host">Superhost</div></h4>
           <div class="type"> <b>Private Room</b></div>
        <div class="rating">Rate: 4.68
          <i class="fas fa-star"></i>
      </div>
      
      <h5 class="price">Price:  <b>60$</b>/night</h5>
    </div>
    <div class="col-6">
        <img src="../public/images/8.jpg" alt="">
        <h4>A place near to CENTENNIAL COLLEGE

          
           <div class="host">Superhost</div></h4>
           <div class="type"> <b>Private Room</b></div>
        <div class="rating">Rate: 4.73
            <i class="fas fa-star"></i>
        </div>
       
        <h5 class="price">Price:  <b>80$</b>/night</h5>
    </div>
    <div class="col-6"><a href="/9"></a>
        <img src="../public/images/9.jpg" alt="" >
        
          <h4>Casa Kapra - Modern Peaceful Private Room
            
             <div class="host">Superhost</div></h4>
             <div class="type"> <b>Private Room</b></div>
        <div class="rating">Rate: 5.0
          <i class="fas fa-star"></i>
      </div>
      
      <h5 class="price">Price:  <b>50$</b>/night</h5>
    </div>
    <div class="col-6">
      <img src="../public/images/4.jpg" alt="">
      <h4>Cutest House Around!!! 
        
         <div class="host">Superhost</div></h4> 
         <div class="type"> <b>Entire House</b></div>
      <div class="rating">Rate: 4.91
        <i class="fas fa-star"></i>
    </div>
        <h5 class="price">Price:<b>89$</b>/night</h5>
      </div>

</div>
</div>
</div>

</section>
<!--Testimonial-->
<section id="testimonial">
<h2 class="testimonial_title">Feedback from our users</h2> 
<div class="testimonial">
    <div class="small-container"> 
    <div class="row">
        <div class="col-3">
            <i class="fas fa-quote-left"></i>
            <p>"As a traveler, I've had good experiences with the hosts & properties: and when I had a bait & switch situation, Airbnb immediately assisted me and I was refunded the next day...."</p>
            <div class="rating">Rate:
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <img src="../public/images/user1.jpg" alt="">
            <h3>Emma Green</h3>
        </div>
        <div class="col-3">
            <i class="fas fa-quote-left"></i>
            <p>"Excellent service with the Covid 19 situation. Quick reply to my query, my host on Gozo was just as helpful. Full refund within 24 hours...."</p>
            <div class="rating">Rate:
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <img src="../public/images/user2.jpeg" alt="">
            <h3>Evelyn Nguyen</h3>
        </div>
        <div class="col-3">
            <i class="fas fa-quote-left"></i>
            <p>"When we first stumbled upon this flat on AirBnB, it seemed almost too good to be true. There must be a catch!"</p>
            
            <div class="rating">Rate:
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <img src="../public/images/user3.jpeg" alt="">
            <h3>Clara Pham</h3>
        </div>
    </div>
    </div>
</div>
</section>
<!--Popup login
<div class="popup">
<div id="login_table" class="login_table">
  <div class="login_form">
    <form method="POST" action="#">
          <span class="login_close">&times;</span>
          <h1>Log In</h1>
         
          <label>Email:</label>
          
              <input class="login_input" type="email" name="email" placeholder="Email">
              
              <label>Password:</label>
              
              <input class="login_input" type="password" name="psw2" placeholder="Password">
              
          <div class="login_button">
              <button>Login</button>
          </div>
      </form>
  </div>
</div>

<div id="signup_table" class="signup_table">
  <div class="signup_form">
    <form action="/contact-for-process" method="POST" enctype="multipart/form-data">
          <span class="signup_close">&times;</span>
          <h1>Sign up</h1>
          <label for="email">Email:</label>
          <input class="signup_input" type="email" name="email" placeholder="Email">
          
          <label for="fname">First Name</label>
          
          <input class="signup_input" type="text" name="fname" placeholder="First Name">
          
          <label for="lname">Last Name</label>
          
          <input class="signup_input" type="text" name="lname" placeholder="Last Name">
          
          <label for="password">Create a password:</label>
          
          <input class="signup_input" type="password" name="psw" placeholder="Create a password">
          
          <label for="password2">Confirm password:</label>
          
          <input class="signup_input" type="password" name="psw2" placeholder="Confirm password">
          
          <div class="gender">
          <label for="gender">Gender:</label>
          <input type="radio" id="gender_radio" name="gender" value="M"/><label id="gender" for="genderM">Male</label>
          <input type="radio" id="gender_radio" name="gender" value="F"/><label id="gender" for="genderF">Female</label>
          </div>
          <div class="uploadphoto">
          <label id="uploadlabel" for="photo">Photo Upload:</label> 
          <input id="uploadinput" type="file" id="photo" name="photo"/>
        </div>
          <div class="signup_button">
            <input type="submit" value="Submit" />
        </div>
      </form>
  </div>
</div>
</div>
-->
<!--Banner Ads-->
<div class="banner_ads">
  <div class="small-container">
  <h2 class="title">Adverstising box</h2>
  <div class="row">
      <div class="col-2" >
          <img src="../public/images/img4.jpg" alt="">
      </div>
          <div class="col-2">
          <p></p>
          <h1></h1>
          <small> You  need to take a lot of care on where to live and how to rent a house during your trip </small>
          <p>Go with us to see the best house with only 50$ per night.</p>
          <a href="" class="btn">Let's go &#8594</a>
      </div>
  </div>
  </div>
  </div>

<!--Footer-->
{{> footer}}


  <script src="../public/js/index.js"></script>
</body>
</html>
